<!DOCTYPE html>
<html>

<head>
  <title>PBIN pastebin with Monaco Editor</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" data-name="vs/editor/editor.main"
    href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/editor/editor.main.min.css" />
  <script src="https://unpkg.com/@antonz/runno@0.6.1/dist/runno.js"></script>
  <script src="https://unpkg.com/@antonz/codapi@0.12.0/dist/engine/wasi.js"></script>
  <script src="https://unpkg.com/@antonz/codapi@0.12.0/dist/snippet.js"></script>
</head>

<body>
  <pre>
    const msg = "Hello, World!"
    console.log(msg)
    </pre>
    
    <codapi-snippet engine="browser" sandbox="javascript" editor="basic"></codapi-snippet>
  <div class="container-xl h-screen overflow-y-hidden">
    <div class="max-h-1/5 p-4">
      <a class="py-2 px-4 font-bold text-black" href="/"> PBIN </a>
      <a class="py-2 px-4 font-bold text-black" href="/diff"> DIFF </a>
      <button class="
          py-2
          px-4
          font-semibold
          rounded-lg
          shadow-md
          text-white
          bg-green-500
          hover:bg-green-700
        " onclick="window.copyText()">
        <i class="far fa-copy"></i>
        Copy Text
      </button>
      <button class="
            py-2
            px-4
            font-semibold
            rounded-lg
            shadow-md
            text-white
            bg-green-500
            hover:bg-grey-700
          " onclick="navigator.clipboard.writeText(window.location)">
        <i class="far fa-share-square"></i>
        Share Link to Text
      </button>
      <!-- if language is markdown, show view html link -->
      {{ if eq .Language "markdown" }}
      <a class="
            py-2
            px-4
            font-semibold
            rounded-lg
            shadow-md
            text-white
            bg-green-500
            hover:bg-grey-700
          " href="/html?id={{ .ID }}">
        <i class="far fa-eye"></i>
        View HTML
      </a>
      {{ end }}
    </div>
    <div id="monacoContainer" class="w-full h-4/5"></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
  <script>
    // require is provided by loader.min.js.
    require.config({
      paths: {
        vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs",
      },
    });
    require(["vs/editor/editor.main"], () => {
      var m = monaco.editor.create(
        document.getElementById("monacoContainer"),
        {
          value: {{ .Text }},
      language: {{ .Language }},
      readOnly: true,
      // if prefers dark vs-dark else vs-light
      theme: window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "vs-dark"
      : "vs-light",
      automaticLayout: true,
      wordWrap: "on"
        }
    );
    window.copyText = function () {
      navigator.clipboard.writeText(
        m.getValue()
      );
    }
      });
  </script>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/4f1eaa64ca.js" crossorigin="anonymous"></script>
</body>

</html>